<html>
<head>
	<title> Vue Gram</title>
</head>
<body>
	<style type="text/css">
	img.emoji{
    	height: 1em;
	   width: 1em;
	   margin: 0 .05em 0 .1em;
	   vertical-align: -0.1em;
    }
	</style>
<div id="vuegramapp">
<button v-on:click="sortBy(posts,'comments')">Sort By Comments</button> 
<button v-on:click="sortBy(posts,'likes')">Sort By Likes</button>
<button v-on:click="showOnlyVideos(posts)">videos</button> 
	<div class="vuegram-post" v-for="post in posts">
		{{post.user.username}} 
		<button v-on:click="viewPostDetails(post)"> View Post Details </button>

		<div style="display:none" v-for="like in post.likes.data">
			{{updateLikers(like,post)}}
		</div>
		<div style="display:none" v-for="comment in post.comments.data">
			{{updateCommenters(comment,post)}}
		</div>		
		<div style="display:none" v-for="tagged_user in post.users_in_photo">
			{{updateTaggedUsers(tagged_user,post)}}
		</div>
		<div style="display:none" v-for="tag in post.tags">
			{{updatePostTags(tag,post)}}
		</div>

		{{{post.caption ? emojiParse(post.caption.text) : ""}}}
		{{post.comments.count}}
		<!-- <img src="{{post.images.standard_resolution.url}}" /> -->
		<img v-bind:src="post.images.thumbnail.url" />
		<a href="{{getDownloadLink(post)}}">Download</a>
	</div>
</div>
<script src="v1/vendor/jq.js"></script>
<script src="v1/vendor/twemoj.js"></script>
<script src="v1/js/geturl.js"></script>
<script src="v1/vendor/vue.js"></script>
<script type="text/javascript" src="v1/extras/data.js"></script>
<script type="text/javascript" src="v1/js/u.js"></script>
<script type="text/javascript" src="v1/js/a.js"></script>
<script type="text/javascript" src="v1/js/main.js"></script>
</body>
</html>